/bootstrap/compiled.php
/vendor
composer.json
composer.phar
composer.lock
.env.local.php
.env.php
.DS_Store
Thumbs.db
/nbproject
/geodisplay
/prodisplay
/clientes
/bicbeta
/cdmxtiempo
/test
/cgi-bin
/bic
/webapps
/app/storage/sessions
/clientes/
/videoacceso
/FaceDemo
/face
/beta
/bicbeta
/bootstrap
/face
/facturar_sat
/feria
/fpdf
/includes
/smartbc
CONTRIBUTING.md
README.md
/artisan
google04c785c58a5b159e.html
phpunit.xml
readme.md
server.php
